{% extends "base.html" %}
{% block bodyBlock %}
    <br>

    <section id="detail-section1">
      <div>
        <div class="blog-user flex">
          <img class="author-pp" src="{{post.author.UserModel.profile_pic.url}}" alt="author-pp">
          <p class="author-name">{{post.author}}</p>
          <span style="margin-bottom:10px;"><p>.</p></span>
          <span style="opacity: 70%;"><p>{{post.create_date.date}}</p></span>
        </div>
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
      </div>
    </section>
    <section id="detail-section2">
      <div>
        {% if user.is_authenticated %}
          <form method='POST'>
            {% csrf_token %}
            <div class="flex">
              {{form.comment_content}}
            </div>
            <input type="submit" value="Send comment" class="btn btn-success">
          </form>
        {% endif %}
      </div>
      {% for comment in comments %}
        <div class="comment">
          <h3>{{comment.comment_author.username}}</h3>
          <p>{{comment.comment_content}}</p>
          <p>{{comment.comment_date}}</p>
          {% if user.id == comment.comment_author.id %}
            <a href="{% url 'blog:comment_delete' id=comment.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
          {% endif %}
        </div>      
      {% endfor %}
    </section>    
{% endblock bodyBlock %}