{%extends 'base.html'%}
{% block bodyBlock %}
<div style="margin-left:20px;"class="jumbotron">
    {% if user.is_authenticated %}
        <h1>You'r already logged in !</h1>
    {% else %}
    <h1>Login</h1>
    <h3>Fill out the form</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{UserLoginForm.as_p}}
        <input type="submit" name="" value="Login">
    </form>
    {% endif %}
    <br>
    <a href="{% url 'register' %}"><h3 style="margin-left:20px;">Or Create Account</h3></a>
</div>
{% endblock bodyBlock %}