{% extends "base.html" %}
{% load static %}
{% block bodyBlock %}
    <br>
    <div class="container">
        <div class="list-group">
        {% for post in posts %}
            <a href="details/{{post.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{post.title}}</h5>
                <small>{{post.published_date}}</small>
                </div>
                <p class="mb-1">{{post.content}}</p>
                <div class="d-flex w-100 justify-content-between">
                    <small class="mb-1">{{post.author}}</small>
                    <small>Comments: {{post.comment_count.count}}</small> 
                </div>
            </a>
        {% endfor %}
        </div>
        
    </div>
{% endblock bodyBlock %}