{% extends "base.html" %}
{% load static %}
{% block bodyBlock %}

<section id="index-section1">
<div class="container flex">
    <div class="flex-column">
        <div class="head">
            <p>Share your own story</p>
        </div>
        <div class="text">
            <p>Here you can write the stories you want and share your memories with people.</p>
        </div>
        <a href="{% url 'register' %}"><button class="btn">Sign Up</button></a>
    </div>
</div>
</section>
<section id="index-section2">
    <div class="head">
        <ul class="flex">
            <li><a href="#"><p>Recent</p></a></li>
            <li>|</li>
            <li><a href="#"><p>Popular</p></a></li>
            <li>|</li>
            <li><a href="#"><p>Most viewed</p></a></li>
            <li>|</li>
            <li><a href="#"><p>Most liked</p></a></li>
        </ul>
        <ul class="flex">
            <div class="input">
                <input class="input" type="text">
                <a href="#"><i id="search-icon" class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </ul>
    </div>
    
    <div class="blog-list">
        {% for post in posts %}
        <a href="details/{{post.id}}">
            <div class="flex-column main">
                <div class="blog-user flex">
                    <img class="author-pp" src="{{post.author.UserModel.profile_pic.url}}" alt="author-pp">
                    <p class="author-name">{{post.author}}</p>
                    <span style="margin-bottom:10px;"><p>.</p></span>
                    <span style="opacity: 70%;"><p>{{post.create_date.date}}</p></span>
                </div>
                <div class="blog-content">
                    <div class="flex-column">
                        <h2>{{post.title}}</h2>
                        <span style="font-style:italic;opacity: 80%;"><p>{{post.content}}</p></span>
                    </div>
                </div>
            </div>
        </a>
        <div class="border"></div>
        {% endfor %}
        
    </div>
</section>
<div class="container"></div>


    {% comment %}
    <br>
    <div class="container">
        <div class="list-group">
        {% for post in posts %}
            <a href="details/{{post.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{post.title}}</h5>
                <small>{{post.published_date}}</small>
                </div>
                <p class="mb-1">{{post.content}}</p>
                <div class="d-flex w-100 justify-content-between">
                    <small class="mb-1">{{post.author}}</small>
                    <small>Comments: {{post.comment_count.count}}</small> 
                </div>
            </a>
        {% endfor %}
        </div>
        
    </div> 
    {% endcomment %}
{% endblock bodyBlock %}